---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/artist/a466c2a2-6517-42fb-a160-1087c3bafd9f?fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '1200'
      X-RateLimit-Remaining:
      - '947'
      X-RateLimit-Reset:
      - '1574363595'
      ETag:
      - '"36e34f50688ec9922bb322a2c3f28437"'
    body:
      encoding: UTF-8
      string: '{"type":"Group","ipis":[],"end_area":null,"isnis":["0000000115481722"],"country":"US","id":"a466c2a2-6517-42fb-a160-1087c3bafd9f","disambiguation":"US
        metal band","area":{"sort-name":"United States","name":"United States","iso-3166-1-codes":["US"],"disambiguation":"","id":"489ce91b-6658-3307-9877-795b68554c98"},"type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","begin_area":{"sort-name":"Des
        Moines","name":"Des Moines","disambiguation":"","id":"2bda1647-f64b-4277-acce-e9c1296d065e"},"gender":null,"gender-id":null,"life-span":{"end":null,"ended":false,"begin":"1995"},"name":"Slipknot","sort-name":"Slipknot"}'
      effective_url: https://musicbrainz.org/ws/2/artist/a466c2a2-6517-42fb-a160-1087c3bafd9f?fmt=json
  recorded_at: Thu, 21 Nov 2019 19:13:13 GMT
recorded_with: VCR 5.0.0
