---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-RateLimit-Limit:
      - '1200'
      X-RateLimit-Remaining:
      - '1107'
      X-RateLimit-Reset:
      - '1574262244'
      ETag:
      - '"7baabb90f872d8f2e6a89774d80a93a7"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <metadata xmlns="http://musicbrainz.org/ns/mmd-2.0#"><artist id="5b11f4ce-a62d-471e-81fc-a69a8278c7da" type="Group" type-id="e431f5f6-b5d2-343d-8b36-72607fffb74b"><name>Nirvana</name><sort-name>Nirvana</sort-name><disambiguation>90s US grunge band</disambiguation><isni-list><isni>0000000123486830</isni><isni>0000000123487390</isni></isni-list><country>US</country><area id="489ce91b-6658-3307-9877-795b68554c98"><name>United States</name><sort-name>United States</sort-name><iso-3166-1-code-list><iso-3166-1-code>US</iso-3166-1-code></iso-3166-1-code-list></area><begin-area id="a640b45c-c173-49b1-8030-973603e895b5"><name>Aberdeen</name><sort-name>Aberdeen</sort-name></begin-area><life-span><begin>1988-01</begin><end>1994-04-05</end><ended>true</ended></life-span></artist></metadata>
      effective_url: https://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da/
  recorded_at: Wed, 20 Nov 2019 15:04:01 GMT
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/artist/5b11f4ce-a62d-471e-81fc-a69a8278c7da?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-RateLimit-Limit:
      - '1200'
      X-RateLimit-Remaining:
      - '1006'
      X-RateLimit-Reset:
      - '1574262850'
      ETag:
      - '"7baabb90f872d8f2e6a89774d80a93a7"'
    body[...]
