---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/artist/a466c2a2-6517-42fb-a160-1087c3bafd9f?inc=releases&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '1200'
      X-RateLimit-Remaining:
      - '827'
      X-RateLimit-Reset:
      - '1574920550'
      ETag:
      - '"3e023a2b67da00c2660d74c03e957e25"'
    body:
      encoding: UTF-8
      string: '{"ipis":[],"type-id":"e431f5f6-b5d2-343d-8b36-72607fffb74b","begin_area":{"id":"2bda1647-f64b-4277-acce-e9c1296d065e","disambiguation":"","sort-name":"Des
        Moines","name":"Des Moines"},"isnis":["0000000115481722"],"name":"Slipknot","id":"a466c2a2-6517-42fb-a160-1087c3bafd9f","releases":[{"status":"Official","quality":"normal","packaging-id":"ec27701a-4a22-37f4-bfac-6616e0f9750a","title":"Mate.
        Feed. Kill. Repeat.","packaging":"Jewel Case","release-events":[{"date":"1996-10-31","area":{"name":"United
        States","iso-3166-1-codes":["US"],"sort-name":"United States","disambiguation":"","id":"489ce91b-6658-3307-9877-795b68554c98"}}],"country":"US","id":"ce4722b7-7d58-4f7d-b76d-cb4b37fb661b","text-representation":{"language":"eng","script":"Latn"},"status-id":"4e304316-386d-3409-af2e-78857eec5cfe","barcode":"742617000027","date":"1996-10-31","disambiguation":""},{"title":"Crowz","packaging":null,"packaging-id":null,"quality":"normal","status":"Promotion","barcode":null,"date":"1997-10-31","disambiguation":"","country":"US","id":"9e85c571-21e6-4820-babb-cd0f8c3f436c","text-representation":{"language":"eng","script":"Latn"},"status-id":"518ffc83-5cde-34df-8627-81bff5093d92","release-events":[{"area":{"name":"United
        States","iso-3166-1-codes":["US"],"sort-name":"United States","disambiguation"[...]
