---
http_interactions:
- request:
    method: get
    uri: https://musicbrainz.org/ws/2/recording?query=Slipknot&fmt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '1200'
      x-ratelimit-remaining:
      - '747'
      x-ratelimit-reset:
      - '1578602121'
      last-modified:
      - Thu, 09 Jan 2020 20:31:35 GMT
      etag:
      - '"ZDhkNmZjMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      string: '{"created":"2020-01-09T20:35:20.658Z","count":1700,"offset":0,"recordings":[{"id":"230872d5-d907-46da-92d6-396f4761a444","score":100,"title":"Slipknot
        (Hangknot, Slipknot)","length":153360,"video":null,"artist-credit":[{"name":"Woody
        Guthrie","artist":{"id":"cbd827e1-4e38-427e-a436-642683433732","name":"Woody
        Guthrie","sort-name":"Guthrie, Woody","disambiguation":"American singer-songwriter","aliases":[{"sort-name":"Woodie
        Guthrie","name":"Woodie Guthrie","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null},{"sort-name":"Guthrie,
        Woodrow Wilson","type-id":"d4dcd0c0-b341-3612-a332-c0ce797b25cf","name":"Woodrow
        Wilson Guthrie","locale":null,"type":"Legal name","primary":null,"begin-date":null,"end-date":null},{"sort-name":"Woddy
        Guthrie","name":"Woddy Guthrie","locale":null,"type":null,"primary":null,"begin-date":null,"end-date":null}]}}],"releases":[{"id":"e9af5658-c75e-4aee-a986-a629a820909b","count":4,"title":"Some
        Folk","status":"Official","artist-credit":[{"name":"Woody Guthrie","artist":{"id":"cbd827e1-4e38-427e-a436-642683433732","name":"Woody
        Guthrie","sort-name":"Guthrie, Woody","disambiguation":"American singer-songwriter"}}],"release-group":{"id":"fd68274c-1492-3e80-97c5-9a3db9c35d5b","type-id":"dd2a21e1-0c00-3729-a7a0-de60b84eb5d1","title":"Some
        Folk","primary-type":"Album","secondary-types":["Compilation"]},"date":"2006-09-18","country":"GB","release-events":[{"date":"2006-09-18","area":{"id":"8a754a16-0027-3a29-b6d7-2b40ea0481ed","name":"United
        Kingdom","sort-name":"United Kingdom","iso-3166-1-codes":["GB"]}}],"track-count":100,"media":[{"position":4,"format":"CD","track":[{"id":"6739d450-6812-3e85-be54-d0c5ff736f28","number":"14","title":"Slipknot
        (Hangknot Slipknot)","length":153360}],"track-count":26,"track-offset":13}]},{"id":"a179cb1a-c4a8-4932-8eea-968fda17ad67","count":2,"title":"Ramblin''
        Round","status":"Official","artist-credit":[{"name":"Woody Guthrie","artist":{"id":"cbd827e1-4e38-427e-a436-642683433732","name":"Woody
        Guthrie","sort-name":"Guthrie, Woody","disambiguation":"American singer-songwriter"}}],"release-group":{"id":"210ee8aa-4b31-34dd-9246-71b9a5b23e4d","type-id":"dd2a21e1-0c00-3729-a7a0-de60b84eb5d1","title":"Ramblin''
        Round","primary-type":"Album","secondary-typ[...]
